.col-md-4 img{
    height: 350px;
}
.filters{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  label{
    width: 33.33%;
    height: 80px ;
    padding-left: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  .label1{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }